# Données générées
data/outputs/*
!data/outputs/.gitkeep
*.png

# Python
__pycache__/
__init__.py
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv


# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Hugging Face cache (optionnel)
.cache/