# FastAPI and server
fastapi
uvicorn[standard]
pydantic
python-multipart
# Cuda, we can use to newly version du to bug in quantization in 4-bits for ESM models
transformers==4.39.3
accelerate==0.28.0
# Utilities
numpy
biopython
python-dotenv
bitsandbytes

